body {
  width: 100vw;
  height: 100vh;

  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #fff;
  font-size: 8em;
  font-weight: bold;
  letter-spacing: 0.4rem;

  /* 중앙 정렬 */
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0px;

  /* 정중앙 정렬 */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#login-container {
  color: #fff;

  /* 정중앙 정렬 */
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

/* #loginInput {
  width: 200px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding: 4px 0 4px 20px;
  background-color: rgb(233, 233, 233);
} */

#todo-form {
  color: #fff;

  /* 정중앙 정렬 */
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

#todo-list {
  color: #fff;

  /* 정중앙 정렬 */
  /* position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%); */
}

#weather-container {
  color: #fff;

  /* 정중앙 정렬 */
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.loginInput {
  background: 0;
  border: 0;
  outline: none;
  /* width: 80vw; */
  max-width: 400px;
  font-size: 1.5em;
  transition: padding 0.3s 0.2s ease;
}

.loginInput:focus {
  padding-bottom: 5px;
}

.loginInput::after {
  transform: scaleX(1);
}

#loginButton {
  padding: 10px;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  background-color: transparent;
}

#loginButton:hover {
  cursor: pointer;
}
