body {
  width: 100vw;
  height: 100vh;

  background-size: cover;

  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #fff;
  font-size: 8em;
  font-weight: bold;

  /* 정중앙 정렬 */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}
